# Titulo

## Titulo 2

| Tables        | Are           | Cool  |
| ------------- |:------------- -----
| col 3 is      | right-aligned | $1600 |
| col 2 is      | centered      |   $12 |
| zebra stripes | are neat      |    $1 |

In [5]:
print('Hola Mundo')

Hola Mundo

In [7]:
nombre = 'Richard'

nombre

In [9]:
nombre = 'Richard'

In [10]:
nombre

'Richard'

In [11]:
edad = 29

In [12]:
edad

29

In [13]:
sueldo = 16005.36

In [14]:
sueldo

16005.36

In [16]:
# Comentario de python
edad_stri = '29'
sumar = edad_stri + edad

TypeError: can only concatenate str (not "int") to str

In [17]:
sumar = int(edad_stridad) + edad

NameError: name 'edad_stridad' is not defined

In [19]:
sumar = int(edad_stri) + edad

sumar

In [20]:
sumar

58

type(edad)

In [21]:
type(edad)

int

In [22]:
type(edad_stri)

str

In [23]:
type(sueldo)

float

In [24]:
"""
vamos a ver el ejemplito
"""

'\nvamos a ver el ejemplito\n'

In [25]:
nombre_completo = 'Angel Richard Cobos Lituma'

In [26]:
nombre_completo

'Angel Richard Cobos Lituma'

In [27]:
nombre_completo.split(' ')

['Angel', 'Richard', 'Cobos', 'Lituma']

In [28]:
nombre_completo.isalpha()

False

In [29]:
"Richard".isalpha()

True

In [30]:
print(f"A mi me gustan los tacos, osea a {nombre_completo}")

A mi me gustan los tacos, osea a Angel Richard Cobos Lituma