# Diccionarios

In [5]:
# json -> Diccionario
isaac = 'Isaac'
Richard = {
    'nombre':'Richard',
    'apellido':'Cobos',
    'isaac' : isaac, 
    'edad': 33 ,
    'hijos':'Cristopher',
    'casado':True,
    'sueldo':10.5,
    'mascotas': [
        {
            'nombre':'Capulina',
            'edad':2
        }
        
    ],
    'carro':(0,1,2)
          }

In [7]:
Richard['apellido']

'Cobos'

In [8]:
Richard['mascotas']

[{'nombre': 'Capulina', 'edad': 2}]

In [10]:
Richard['mascotas'][0]['nombre']

'Capulina'

In [11]:
Richard.get('nombre')

'Richard'

In [12]:
Richard.get('mascotas')

[{'nombre': 'Capulina', 'edad': 2}]

In [13]:
Richard.pop('isaac')

'Isaac'

In [14]:
Richard

{'nombre': 'Richard',
 'apellido': 'Cobos',
 'edad': 33,
 'hijos': 'Cristopher',
 'casado': True,
 'sueldo': 10.5,
 'mascotas': [{'nombre': 'Capulina', 'edad': 2}],
 'carro': (0, 1, 2)}

In [15]:
Richard.values()

dict_values(['Richard', 'Cobos', 33, 'Cristopher', True, 10.5, [{'nombre': 'Capulina', 'edad': 2}], (0, 1, 2)])

In [16]:
Richard.keys()

dict_keys(['nombre', 'apellido', 'edad', 'hijos', 'casado', 'sueldo', 'mascotas', 'carro'])

In [18]:
type(Richard.values())

dict_values

In [19]:
type(Richard.keys())

dict_keys

In [22]:
for key in Richard.keys():
    print(f"Llave {key} : {Richard[key]}")

Llave nombre : Richard
Llave apellido : Cobos
Llave edad : 33
Llave hijos : Cristopher
Llave casado : True
Llave sueldo : 10.5
Llave mascotas : [{'nombre': 'Capulina', 'edad': 2}]
Llave carro : (0, 1, 2)

In [23]:
Richard['isaac'] = issac

NameError: name 'issac' is not defined

In [24]:
Richard

{'nombre': 'Richard',
 'apellido': 'Cobos',
 'edad': 33,
 'hijos': 'Cristopher',
 'casado': True,
 'sueldo': 10.5,
 'mascotas': [{'nombre': 'Capulina', 'edad': 2}],
 'carro': (0, 1, 2)}

In [25]:
issac

NameError: name 'issac' is not defined

In [26]:
isaac

'Isaac'

In [28]:
## la de afuera es la variable 
Richard['isaac'] = isaac

In [29]:
Richard

{'nombre': 'Richard',
 'apellido': 'Cobos',
 'edad': 33,
 'hijos': 'Cristopher',
 'casado': True,
 'sueldo': 10.5,
 'mascotas': [{'nombre': 'Capulina', 'edad': 2}],
 'carro': (0, 1, 2),
 'isaac': 'Isaac'}

In [32]:
valores_nuevos = {
    'talia':'Talia',
    'rafico':'Rafico',
    'lula':'Lula'
}

In [33]:
Richard.update(valores_nuevos)

In [34]:
Richard

{'nombre': 'Richard',
 'apellido': 'Cobos',
 'edad': 33,
 'hijos': 'Cristopher',
 'casado': True,
 'sueldo': 10.5,
 'mascotas': [{'nombre': 'Capulina', 'edad': 2}],
 'carro': (0, 1, 2),
 'isaac': 'Isaac',
 'talia': 'Talia',
 'rafico': 'Rafico',
 'lula': 'Lula'}

In [35]:
Richard.get('mascotas')

[{'nombre': 'Capulina', 'edad': 2}]

In [36]:
Richard.get('mascotas')[0].update(valores_nuevos)

In [37]:
Richard

{'nombre': 'Richard',
 'apellido': 'Cobos',
 'edad': 33,
 'hijos': 'Cristopher',
 'casado': True,
 'sueldo': 10.5,
 'mascotas': [{'nombre': 'Capulina',
   'edad': 2,
   'talia': 'Talia',
   'rafico': 'Rafico',
   'lula': 'Lula'}],
 'carro': (0, 1, 2),
 'isaac': 'Isaac',
 'talia': 'Talia',
 'rafico': 'Rafico',
 'lula': 'Lula'}

In [38]:
Richard.get('asd')

In [39]:
Richard

{'nombre': 'Richard',
 'apellido': 'Cobos',
 'edad': 33,
 'hijos': 'Cristopher',
 'casado': True,
 'sueldo': 10.5,
 'mascotas': [{'nombre': 'Capulina',
   'edad': 2,
   'talia': 'Talia',
   'rafico': 'Rafico',
   'lula': 'Lula'}],
 'carro': (0, 1, 2),
 'isaac': 'Isaac',
 'talia': 'Talia',
 'rafico': 'Rafico',
 'lula': 'Lula'}

In [40]:
# Error Richard['asd']

KeyError: 'asd'